<h1>Nowa Drużyna</h1>
<%= form_for :team, url: teams_path do |f| %>
   
  <p>
    <%= f.label 'Nazwa Drużyny' %><br>
    <%= f.text_field :teamname %>
  </p>
   <p>
    <%= f.label 'Trener' %><br>
    <%= f.text_area :coach %>
  </p>
  <p>
    <%= f.label 'Rok Zalożenia' %><br>
    <%= f.text_field :year %>
  </p>
   <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Wróć', teams_path %>
