<h1>Zawodnicy</h1>

<%= link_to 'Nowy', new_rider_path %>
<table>
  <tr>
    <th>Imię</th>
    <th colspan="2"></th>
  </tr>
   <% @riders.each do |rider| %>
    <tr>
      <td><%= rider.name %></td>
      <td><%= link_to 'Pokaż', rider_path(rider) %></td>
      <td><%= link_to 'Edycja', edit_rider_path(rider) %></td>
      <td><%= link_to 'Usuń', rider_path(rider),
              method: :delete,
              data: { confirm: 'Czy jestes pewien?' } %></td>
      </tr>
  <% end %>
</table>
