<h2>Nowy Zawodnik</h2>
 
 <%= form_for :rider, url: riders_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>
  <p>
      <%= f.label :photo %><br>
      <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', riders_path %>
