<p>
    <%= image_tag @rider.photo, class: "photo" %>
</p>


<h2>Imię i nazwisko:</h2>
<h1><%= @rider.name %></h1>
<h3>Wiek: <%= @rider.age %> lata</h3>
<h3>Drużyna: <%= @rider.druzyna %></h3>
  



<%= link_to 'Back', riders_path %>
