<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
   
    <nav>
      <ul class="nav navbar-nav navbar-left">
        
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Zawodnicy",   riders_path %></li>
        <li><%= link_to "Drużyny",   teams_path %></li>
        <ul class="nav navbar-nav navbar-left">  
          <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
           
            <%= form_tag(riders_path, :method => "get", class: "navbar-form", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
          </div>
          <button type="submit" class="btn btn-default">Szukaj</button>
          </form>
      <% end %>
        </li>
      </ul>
        
        
        
      </ul>
    </nav>
  </div>
</header>
